*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    background: rgba(0, 0, 0, 0.4) url('aa.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    margin: auto;
    
       
    
    
}



header{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.74);
    
}

#menu{
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    margin: 0;
    
    
    
}

#menu li{
    list-style: none;
    display: inline-block;
    
}

#menu li a{
    
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    margin: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 15px;

    
}

#menu li a:hover{
    background-color: rgba(0, 255, 255, 0.507);
    transition: 0.8s;
    padding: 15px;
    
}

div{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200;
    min-width: 200px;
    margin: 70px;

}

h2{
    font-size: 70px;
    margin: 40px;
    margin-right: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    
}

p{
    color: rgb(230, 230, 230);
    font-size: 18px;
    margin-bottom: 120px;
    

}

h3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 25px;
    margin-top: 150px;
    

}



main{
    min-width: 200px;
    max-width: 1200px;
    margin: 35px;
    margin: auto;

}

a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header > a{
    font-weight: bolder;
    font-size: 32px;
    margin-left: 70px;
    margin-bottom: 40px;
    margin-top: 40px;


    
}

#btn{
    display: none;
}

@media (max-width: 700px){

    h3{
        font-size: 30px;
        margin:0px;
        margin-bottom: 100px;
        margin-top: 120px;
    }

    p{
        font-size: 20px;
    }

    #btn{
        display: block;
    }

    #link{    
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgba(0, 0, 0, 0.74);
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000;
    
    }

    #menu.active #link{
        visibility: visible;
        height: 100vh;
        overflow-y: auto;
    }
    
    #link a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        
    }

    #menu li {
        display:flex;
    }

    #btn{
        display: flex;
        padding: .5rem 1rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        gap: .5rem;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        display: block;
        color: #fff;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #menu.active #hamburguer::before{
        transform: rotate(135deg);
        
    }

    #menu.active #hamburguer::after{
        transform:rotate(-135deg);
        top: -7px;
    }


    #menu.active #hamburguer{
        border-top-color:transparent ;
        

    }

   


}