*{
    margin: 0px;
    padding: 0px;
}

div.formatted ol, div.formatted ul {
    margin: 0 0 60px;
    padding: 0 0 0 16px;
    list-style-position: outside;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
div.formatted {
    color: #424d56;
    font-family: Fedra,Segoe UI,Arial,Helvetica Neue,"sans-serif";
    font-weight: 300;
}
body {
    background: #f4f5f4;
    font-family: Fedra,Segoe UI,Arial,Helvetica Neue,"sans-serif";
    font-weight: 400;
    font-size: 16px;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
   
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



ol li{
    margin: 37px;
}





header{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.74);
    margin-bottom: 50px;
    
}

#menu{
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    margin: 0;
    
    
    
}

#menu li{
    list-style: none;
    display: inline-block;
    
}

#menu li a{
    
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    margin: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 15px;

    
}

#menu li a:hover{
    background-color: rgba(0, 255, 255, 0.507);
    transition: 0.8s;
    padding: 15px;
    
}

header a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
}

#logo{
    font-size: 32px;
    font-weight: bolder;
    margin-left: 40px;
}


#btn{
    display: none;
}

@media (max-width: 700px){

    h3{
        font-size: 33px;
        margin:0px;
        margin-bottom: 100px;
        margin-top: 120px;
        font-weight: bolder;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    }

    p{
        font-size: 16px;
    }

    #btn{
        display: block;
    }

    #link{    
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgba(0, 0, 0, 0.74);
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000;
    
    }

    #menu.active #link{
        visibility: visible;
        height: 100vh;
        overflow-y: auto;
    }
    
    #link a {
        padding: 1rem 0;
        margin: 0 1rem;
        
        
    }

    #menu li {
        display:flex;
    }

    #btn{
        display: flex;
        padding: .5rem 1rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        gap: .5rem;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        display: block;
        color: #fff;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #menu.active #hamburguer::before{
        transform: rotate(135deg);
        
    }

    #menu.active #hamburguer::after{
        transform:rotate(-135deg);
        top: -7px;
    }


    #menu.active #hamburguer{
        border-top-color:transparent ;
        

    }

   


}

#pum1, #pum2, #pum3{
    margin: 37px;
}



